<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" type="text/css" href="style.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}"> 

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

	<title></title>
<style>
body {
	margin: 0;
	padding: 0;
	background-color: #a8dadc;
	font-family: "Courier New", Courier, monospace;
  }
h4{
  margin-top: 20px;
  margin-bottom: 20px;
}

label{
  margin: 10px;
}

alert alert-danger alert-dismissible {
  padding: 20px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 15px;
}
alert alert-success {
  padding: 20px;
  background-color: "green"; /* Red */
  color: white;
  margin-bottom: 15px;
}
</style>	
</head>
<body>

  


  <div class="container">
    {% if msg=="error" %}
    <div class="alert alert-danger alert-dismissible">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>Warning!</strong> This ID is already taken , Enter a Unique ID.
</div>
{% elif msg=="phone" %}
    <div class="alert alert-danger alert-dismissible">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>Warning!</strong> Invalid Phone number.
</div>
  {% elif msg=="success"%}
    <div class="alert alert-success">
<strong>Success!</strong> New Moderator has been added.
</div>
  {% endif %}
  <h4>ADD MODERATOR</h4>
<div class="row">
  <div class="col-6">
    <form action="#" method="post">
<div class="form-group">
  <label for="mod_id">User Name</label>
  <input type="text" class="form-control" id="mod_id" name="mod_id" placeholder="Enter User Name">
  <label for="Inputname">Name</label>
  <input type="text" class="form-control" id="Inputname" name="Inputname" placeholder="Enter name">
</divx=request.form["Uname"]>
  <div class="form-group">
  <label for="exampleInputPassword1">Password</label>
  <input type="password" class="form-control" name="exampleInputPassword1" id="exampleInputPassword1" placeholder="Password">
</div>
<div class="form-group">
  <label for="exampleInputEmail1">Email address</label>
  <input type="email" class="form-control" id="exampleInputEmail1" name="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
</div>
<div class="form-group">
  <label for="phone">Phone number</label>
  <input type="text" class="form-control" name="phone" id="phone"  placeholder="Enter contact no.">
</div>
<button type="submit">ADD</button>
<button type="submit" formaction="{{url_for('home')}}" formmethod="get">Back</button>
</form>
   </div>
</div>
  </div>
 
</body>
</html>